/* Style for our header texts
* --------------------------------------- */
h1{
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
}
.section p,
.intro p{
	color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
	color: #fff;
}

/* Sections backgrounds
* --------------------------------------- */

#section0{
	background-image: linear-gradient(128deg,#F2F2F4,#F2F2F4);
}

#section1{
	background-image: linear-gradient(128deg,#201F1F,#201F1F);
}

#section2{
	background-image: linear-gradient(128deg,#201F1F,#201F1F);
}

#section3{
	background-image: linear-gradient(128deg,#201F1F,#201F1F);
}