/* 
** Change this if you need to modify
** the amount of lines displayed
*/
$total-lines: 6;


/*
** Leave these unless you want
** to open a whole can of worms
*/
$left-offset: 29px;
$clip-height: 50px;
$line-height: $clip-height - 5px;

body {
    overflow-x: hidden;
}

a {
  &:visited {
    color: inherit;
  }
}



.section01 {
  margin-top: 70px;
  padding: 100px 0;



  .title {
    text-align: center;
    padding: 70px 0 40px;
    h2 {
      
      font-size: var(--font-main-title);
      font-weight: 700;
      color: black;
      margin-bottom: 18px;
    }
    p {
      font-size: var(--font-main-subtitle);
      font-weight: 500;
      color: var(--blue-01);
    }
  }

  .product-wrap {
    margin-top: 110px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .product {
      border: solid 1px black;
      width: 100%;
      height: 700px;
    }
  }
}



.Words {
    color: #eef2f7;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 72%;
    transform: translate(-50%, -50%); 
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
    padding: 100px;
}
.Words-1 {
      color: #eef2f7;
z-index: 0;
    position: absolute;
    top: 10%;
    left: 0%;
    transform: translate(-50%, -50%);
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
    padding: 100px;
}

.Words-line {
  height: $clip-height;
  overflow: hidden;
  position: relative;
  
  // Change the perspective of each alternating line
  &:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(.66667);
  }
  &:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.33333);
  }
  
  // Loop over the total lines and apply a left offset
  @for $i from 1 through $total-lines+1 {
    &:nth-child(#{$i}) {
      left: $left-offset * $i;
    }
  }
}

p {
  height: $clip-height;
  line-height: $line-height;
  padding: 0 10px;
  transition: all .4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}

.Words:hover {
  p {
    transform: translate3d(0, -($clip-height), 0);
  }
}
.Words-1:hover {
  p {
    transform: translate3d(0, -($clip-height), 0);
  }
}

.card-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 1200px;
  flex-wrap: wrap;
  z-index: 1;

  .card {
    position: relative;
    width: 520px;
    height: 700px;
    margin: 15px;
    border-radius: 15px;

    background: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

    .card-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease;
    }

    &:hover {
      .card-img {
        filter: blur(15px);
        opacity: 0.5;
      }

      .content {
        transform: translateY(0px);
        opacity: 1;
      }
    }

    .content {
      padding: 20px;
      text-align: center;
      transform: translateY(100px);
      opacity: 0;
      transition: 0.5s;
      position: relative;
      z-index: 2;

      h3 {
        font-size: 20px;
        color: var(--black-02);
        z-index: 1;
        font-weight: 700;
      }

      p {
        font-size: 36px;
        color: var(--black-02);
        font-weight: 300;
        font-weight: 700;
      }

      a {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        margin-top: 15px;
        background: var(--blue-01);
        color: #fff;
        border-radius: 20px;
        text-decoration: none;
        font-weight: 500;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

footer {
  transform: translate(0,0);
}